/*Все элементы внутри body с текстом унаследуют эти свойства кроме ссылок и еще некоторых*/
body {
  font-family: "Raleway", "Arial", sans-serif;
  color: #6c7279;
  font-size: 14px;
  line-height: 21px; /*высота строки с учетом отступов*/
}
.page-header {
  background-color: #3a3e64;
}
/*верхняя панель навигации*/
.site-navigation {
  font-size: 13px;
  list-style: none; /*уберет маркировку списка*/
}
.site-navigation a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; /*уберет подчеркивания*/
  line-height: 16px;
}
.site-navigation a:hover {
  color: #e84545;
}

/*Features*/
.features-list {
  list-style: none;
}
.features-list-item h3 {
  color: #2d3033;
  line-height: 17px;
}

/*Features*/
.team-list {
  list-style: none;
}
.team-list-name {
  font-size: 22px;
  line-height: 26px;
  color: #2d3033;
}
.team-list-occupation {
  font-size: 13px;
  line-height: 16px;
  color: #e84545;
}

/*Footer*/
.page-footer {
  background-color: #3a3e64;
}
/*прячем h1 и другие элементы которые хотим*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
