html {
  box-sizing: border-box;
}
/*box-sizing: inherit значит по умолчанию будет наследовать от hmtl, но если где то 
переопределим box-sizing для какого то блока, то все, что внутри него будет 
наследовать то, что переопределим*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*Все элементы внутри body с текстом унаследуют эти свойства кроме ссылок и еще некоторых*/
body {
  font-family: "Raleway", "Arial", sans-serif;
  color: #6c7279;
  font-size: 14px;
  line-height: 21px; /*высота строки с учетом отступов*/
}

.conteiner {
  width: 1170px;
  margin: 0 auto; /*явно указали чо вертикално 0, горизонтально auto - так правильно делать*/
  background-color: teal; /*просто margin: auto - не хорошо в будущем будет*/
}

.page-header {
  background-color: #3a3e64;
}

.site-logo {
  /*ссылка стала по высоте как ее контент, - привилегии строчно-блочных элементов*/
  display: inline-block;
}

/*верхняя панель навигации*/
.site-navigation {
  margin: 0;
  padding: 0;
  font-size: 13px;
  list-style: none; /*уберет маркировку списка*/
}
.site-navigation li {
  display: inline-block;
  /*margin-right: 60px;*/
}
.site-navigation li:not(:last-child) {
  /*тоже токо одним действием - выбрали все кроме последнего*/
  margin-right: 60px; /*и дали им margin-right: 60px*/
}
/*необходимо сбросить margin последнего элемента списка после margin-right или
.site-navigation li:last-child {
  margin-right: 0;
}
*/
.site-navigation a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; /*уберет подчеркивания*/
  line-height: 16px;
}
.site-navigation a:hover {
  color: #e84545;
}

/*Features*/
.features-list {
  list-style: none;
}
.features-list-item h3 {
  color: #2d3033;
  line-height: 17px;
}

/*Features*/
.team-list {
  list-style: none;
}
.team-list-name {
  font-size: 22px;
  line-height: 26px;
  color: #2d3033;
}
.team-list-occupation {
  font-size: 13px;
  line-height: 16px;
  color: #e84545;
}

/*Footer*/
.page-footer {
  background-color: #3a3e64;
}
/*прячем h1 и другие элементы которые хотим*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
