html {
  box-sizing: border-box;
}
/*box-sizing: inherit значит по умолчанию будет наследовать от hmtl, но если где то 
переопределим box-sizing для какого то блока, то все, что внутри него будет 
наследовать то, что переопределим*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*Все элементы внутри body с текстом унаследуют эти свойства кроме ссылок и еще некоторых*/
body {
  font-family: "Raleway", "Arial", sans-serif;
  color: #6c7279;
  font-size: 14px;
  line-height: 21px; /*высота строки с учетом отступов*/
}
img {
  /*так картинки будут правильно себя вести*/
  display: block;
  max-width: 100%; /*чтобы картинка не растягивалась больше оригинального размера*/
  height: auto;
}

.conteiner {
  width: 1170px;
  margin: 0 auto; /*явно указали чо вертикално 0, горизонтально auto - так правильно делать*/
  /*просто margin: auto - не хорошо в будущем будет*/
}

.page-header {
  background-color: #3a3e64;
  margin-bottom: 20px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.site-logo {
  /*ссылка стала по высоте как ее контент, - привилегии строчно-блочных элементов*/
  display: inline-block;
  animation: logo-appear 1s linear;
}
@keyframes logo-appear {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*верхняя панель навигации*/
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  list-style: none; /*уберет маркировку списка*/
}

.site-navigation a {
  display: block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; /*уберет подчеркивания*/
  line-height: 16px;
  transition: color 0.2s linear;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #e84545;
}
/* BANNER */
.banner {
  display: flex;
  align-items: center;
  /*если не будет conteiner у него, то на всякий случай центрируем*/
  justify-content: center;
  min-height: 600px;
  margin-bottom: 120px;
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.3),
      rgba(0, 0, 255, 0.3)
    ),
    linear-gradient(to top, rgba(0, 210, 255, 0.3), rgba(145, 140, 170, 0.3)),
    url("../img/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider {
  height: 100px;
  background-color: teal;
}
/*Features Section*/
.features {
  margin-bottom: 120px;
}
/*features list*/
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-list-item {
  flex-basis: 370px;
  /*запретим расти*/
  flex-grow: 0;
  /*запретим сжиматься*/
  flex-shrink: 0;
  /*можно было записать все вместе как flex: 0 0 370px*/
  margin-bottom: 72px;
  padding: 0 38px;
  text-align: center;
}

.features-list-item::before {
  content: "";
  display: block;
  height: 60px;
  margin-bottom: 34px;

  background-repeat: no-repeat;
  background-position: center;
}
.icon-tools::before {
  background-image: url("../img/icons/features/icon-tools.png");
}
.icon-computer::before {
  background-image: url("../img/icons/features/icon-computer.png");
}
.icon-bulb::before {
  background-image: url("../img/icons/features/icon-bulb.png");
}
.icon-atom::before {
  background-image: url("../img/icons/features/icon-atom.png");
}
.icon-case::before {
  background-image: url("../img/icons/features/icon-case.png");
}
.icon-download::before {
  background-image: url("../img/icons/features/icon-download.png");
}

/* .features-list-item:not(:nth-child(3n)) {
  margin-right: 30;
} */
.features-list-item:nth-child(3n) {
  margin-right: 0;
}
.features-list-item:nth-last-child(-n + 3) {
  /*-n это вся коллекция, +3 берет последние 3 элемента*/
  margin-bottom: 0;
}
.features-list-item h3 {
  margin-bottom: 24px;
  color: #2d3033;
  line-height: 17px;
  font-size: 14px;
}
.features-list-item p {
  font-size: 14px;
}
/*TEAM SECTION*/
.team {
  margin-bottom: 120px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.team-list-item {
  width: 270px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in, box-shadow 0.5s linear;
}

.team-list-item:hover {
  /*поставили лишке, и все внутри него получит scale*/
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.team-list-image {
  filter: grayscale(1);
  transition: filter 0.2s easy-out;
}

/*применить к .team-list-image когда .team-list-item в состоянии hover*/
.team-list-item:hover .team-list-image {
  filter: grayscale(0.3);
}

.team-list-name {
  font-size: 22px;
  line-height: 26px;
  color: #2d3033;
}
.team-list-occupation {
  font-size: 13px;
  line-height: 16px;
  color: #e84545;
  text-transform: uppercase;
}
.team-list-about {
  font-size: 14px;
}
.team-list-socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.team-list-socials li {
  margin-right: 4px;
}
.team-list-item li:last-child {
  margin-right: 0;
}
.team-list-socials a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(232, 236, 238);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.2s linear;
}
.team-list-socials a:hover,
.team-list-socials a:focus {
  background-color: #e84545;
}
.icon-facebook {
  background-image: url("../img/icons/social/icon-facebook.png");
}
.icon-twitter {
  background-image: url("../img/icons/social/icon-twitter.png");
}
.icon-linkedin {
  background-image: url("../img/icons/social/icon-linkedin.png");
}
/*Footer*/
.page-footer {
  background-color: #3a3e64;
}
.page-footer .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 246px;
}
.download-buttom {
  border: none;
  margin: 0;
  padding: 14px 82px; /*верх низ -18, право лево 82*/
  background-color: #e84545;
  font-size: 13px;
  line-height: 21px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
/*прячем h1 и другие элементы которые хотим*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
